<nb-card>
  <nb-card-header style="background-color: #333333">
    <div class="row">
      <div class="col-sm-5">
        <label for="" style="color:white; font-weight: bold">Importar > Estados Financieros</label>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <button class="btn btn-blanco" style="border-color:#3D98DE; border-width: 1px"
              (click)="retrocederEtapa()"><i class="fa fa-chevron-left" aria-hidden="true"
              style="margin-left: 2px"></i>  Atrás </button>
          </div>
          <div class="col-sm-4">
            <button (click)="avanzarEtapa()" id="butContinuar" style="border-color:#3D98DE;background-color:#3D98DE"
              class="btn btn-blanco">Continuar <i class="fa fa-chevron-right" aria-hidden="true"
                style="margin-left: 2px"></i></button>

            <!--<div *ngIf="calendario" class="col-sm-6">
                    <dl-date-time-picker
                    startView="year"
                    maxView="year"
                    minView="year">
                    </dl-date-time-picker>
                </div>-->

          </div>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body style="padding-top: 50px; padding-bottom: 50px">
    <div *ngIf="etapa===1" style="color:black; font: Calibri; font-size: 18px; font-weight: bold">
      Importar estados finacieros
    </div>
    <div *ngIf="etapa===2" style="color:black; font: Calibri; font-size: 18px; font-weight: bold">
      Resumen de la importación:
    </div>
    <div style="padding-top:20px">
      <div *ngIf="etapa===2">
        <div class="row" style="padding-top:20px;border-top-style: solid;border-color: #CCCCCC;border-width: 0.2px; align-content: center">
          <div class="col-sm-1"><span style='font-size:30px;'>&#9989;</span> </div>
          <div class="col-sm-10" style="font-weight: bold; font-size: 18px">
            <p style="margin:0px; font-weight: bold; font-size: 18px">Método de importación</p>
            <p>Archivo .xlsx</p>
          </div>
        </div>
        <div class="row" style="padding-top:20px;border-top-style: solid;border-color: #CCCCCC;border-width: 0.2px">
          <div class="col-sm-1"><span style='font-size:30px;'>&#9989;</span> </div>
          <div class="col-sm-10" style="font-weight: bold; font-size: 18px; padding-top: 8px">Se importaron {{cols}} datos de estados financieros exitosamente
          </div>
        </div>
        <br>
      </div>
      <div *ngIf="etapa===1"><input type="radio" id="radio">
        <label for="radio" style="padding-left:10px">Importar un archivo .xlsx</label>
        <br>
        <p>Importa los estados financieros de este negocio en un archivo .xlsx</p>
        <br><br>
        <p style="font-weight: bold">Sube tu archivo:</p>
        <div>
          <input type="file" (change)="onFileChange($event)">
        </div>
        <br>
        <!-- <button class="btn btn-success" (click)="verInfo()">Ver Información Cargada</button> -->
        <br>
        <table class="table table-borderless table-dark">
          <!-- <thead>
            <tr>
              <th *ngFor="let x of data[0]; let i = index" scope="col">
                {{x}}
              </th>
            </tr>
          </thead> -->
          <tbody>
            <tr *ngFor="let filas of data; let i = index" >
              <td *ngFor="let columna of filas" style="width: 16%" >
                <b *ngIf="i==0">{{columna}}</b>
                <span *ngIf="i>0">{{columna}}</span>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </nb-card-body>

</nb-card>
