.btn-azul{
    background-color: #3D98DE;
    color: white;
    width: 100%;
    font-size: 9px;
    padding: 10px!important;
    padding-right:30px;
}

.btn-blanco{
    background-color: white;
    color: blue;
    width: 100%;
    font-size: 9px;
    padding: 10px!important;
    border-color:#EFEFEF;
    border-width: 1px;
}