.btn-azul{
    background-color: #3D98DE;
    color: white;
    width: 100%;
    font-size: 9px;
    padding: 10px!important;
    
}
.btn-dark{
    background-color: black;
    color: white;
    width: 100%;
    font-size: 9px;
    padding: 10px;
}
.btn-dark-graf{
    background-color: black;
    color: white;
    width: 33%;
    height: 35px;
    font-size: 9px;
    padding: 10px;
}
.btn-blanco{
    background-color: white;
    color: black;
    width: 100%;
    font-size: 9px;
    padding: 10px;
}
.btn-blanco-sm{
    background-color: white;
    color: black;
    width: 100%;
    font-size: 9px;
    padding: 2px;
    border-radius: 5px;
    border: 0.5px solid grey;
    text-transform: none;
    padding: 5px;
}
.btn-blanco-sm-graf{
    background-color: white;
    color: black;
    width: 33%;
    font-size: 9px;
    padding: 2px;
    border-radius: 5px;
    height: 35px;
    border: 0.5px solid grey;
    text-transform: none;
    padding: 5px;
}
.btn-blanco-sm:hover{
    color: black;
}.btn-blanco-sm-graf:hover{
    color: black;
}
.valor-estadistica{
    font-size: 20px;
}
.titulo-tarjeta{
    font-weight: bold;
    font-size: 12px;
}
nb-card-header{
    padding: 10px!important;
}
.contenedorHorizontal{
    width: 500%;
    overflow-x: scroll;
    /* .cajaMes{
        width: 265px;
        margin-right: 15px;
    } */
}
.verde{
    color: #5BCE60;
}
.rojo{
    color: #E3633D;
}
.fuerte{
    font-weight: bold;
    font-size: 12px;
}