<div style="font-family: Calibri">
  <div class="row">
<!--Panel izquierdo-->
<div class="col-sm-3" style="background-color: #333333; padding:15px; padding-right: 0px; margin-right:20px">
  <div class="row"  (click)="seleccion=1" style="padding-bottom:25px;padding-top:25px;color:white; cursor: pointer;" [ngStyle]="{'font-weight': seleccion===1? 'bold':'normal'}">
    <i class="fa fa-home" ></i>Vista general de la cuenta</div>
  <div class="row"  (click)="seleccion=2" style="padding-bottom:25px;padding-top:25px;color:white; cursor: pointer;" [ngStyle]="{'font-weight': seleccion===2? 'bold':'normal'}">
    <i class='fa fa-edit'></i>Editar perfil</div>
    <div class="row" style="padding-bottom:25px;padding-top:25px;color:white; cursor: pointer;" [ngStyle]="{'font-weight': seleccion===3? 'bold':'normal'}" (click)="seleccion=3">
    <i class="fa fa-lock" ></i>Cambiar contraseña</div>
    <div class="row" style="padding-bottom:25px;padding-top:25px;color:white; cursor: pointer;" [ngStyle]="{'font-weight': seleccion===4? 'bold':'normal'}" (click)="seleccion=4">
    <i class="fa fa-user"></i>Administrar usuarios</div>
    <div class="row" style="padding-bottom:25px;padding-top:25px;color:white; cursor: pointer;" [ngStyle]="{'font-weight': seleccion===5? 'bold':'normal'}" (click)="seleccion=5">
  <i class="fa fa-bell"></i>Alertas</div>
  <div class="row" style="padding-bottom:25px;padding-top:25px;color:white;cursor: pointer;" [ngStyle]="{'font-weight': seleccion===6? 'bold':'normal'}" (click)="seleccion=6">
  <i class="fa fa-gear"></i>Configuración</div>
</div>
​
<div class="container; col-sm-8" style="padding:0px">
<!--Vista general de la cuenta-->
  <div *ngIf="seleccion===1" style="padding:0px">
  <div class="row" style="margin-bottom:20px">
<div class="col-sm-6" style="background-color: white; border-left: 20px solid #F5F5F5; padding:15px">
  <h4 style="margin-bottom:30px">Perfil</h4>
  <p><label style="color:#A0A0A0">Nombre de negocio</label> <br>Subway</p>
  <p><label style="color:#A0A0A0">Correo electrónico</label> <br>comercial@subway.com.co</p>
  <p><label style="color:#A0A0A0">País</label> <br>Colombia</p>
  <p><label style="color:#A0A0A0">Fecha de vinculación</label> <br>28 Ene, 2019</p>
</div>
<div class="col-sm-6" style="background-color: white; border-left: 20px solid #F5F5F5; padding:15px">
    <h4 style="margin-bottom:30px">Comercial</h4>
    <p><label style="color:#A0A0A0">Categoría del negocio</label> <br>Alimentos y bebidas</p>
    <p><label style="color:#A0A0A0">Subcategoría del negocio</label> <br>Comidas rápidas</p>
  </div>
</div>
<div class="row">
<div class="col-sm-12" style="background-color: white; border-left: 20px solid #F5F5F5; padding:15px">
  <h5 style="margin-bottom:30px">Desactivar mi cuenta</h5>
  <p>Al desactivar tu cuenta no podrás acceder a los reportes financieros de Equity Advisors y toda la información que se haya registrado se perderá. 
  <br>Esta acción no se puede deshacer.</p>
  <button class="btn btn-blanco">Desactivar</button>  
</div>
</div>
</div>
<div *ngIf="!(seleccion===1)" style="background-color: white; padding:15px">
  <div *ngIf="seleccion===2" style="padding:0px">
    <h4 style="margin-bottom:30px">Editar perfil</h4>
  </div>
  <div *ngIf="seleccion===3" style="padding:0px">
      <h4 style="margin-bottom:30px">Cambiar contraseña</h4>
  </div>
  <div *ngIf="seleccion===4" style="padding:0px">
      <h4 style="margin-bottom:30px">Administrar usuarios</h4>
      <p> Los usuarios son las personas capaces de observar la información de tu negocio en la plataforma y así puedan tomar mejores decisiones de negocio como equipo.</p>
      <div class="row" style="padding-left: 15px; padding-right:15px; margin-bottom: 20px">
      <div class="col-sm-4" style="padding:0px; border:1px solid #F5F5F5">
        <label for="" style="color:black; font-weight: bold; padding: 15px;margin-bottom: 15px; width: 100%;background-color: #F5F5F5">Nombre</label><br>
        <div style="padding-left:15px">
          <p>Diego Valencia</p>
          <p>Fernando Palacios</p>
        </div>
      </div>
      <div class="col-sm-4" style="padding:0px; border:1px solid #F5F5F5">
        <label for="" style="color:black; font-weight: bold; padding: 15px;margin-bottom: 15px; width: 100%;background-color: #F5F5F5">Email</label><br>
        <div style="padding-left:15px">
          <p>valencia.diego@gmail.com </p>
          <p>fer.pala@empresa.com</p>
        </div>
      </div>
      <div class="col-sm-4" style="padding:0px; border:1px solid #F5F5F5">
        <label for="" style="color:black; font-weight: bold; padding: 15px;margin-bottom: 15px; width: 100%;background-color: #F5F5F5">Rol</label><br>
        <div style="padding-left:15px">
          <p >Administrador <button class="btn btn-azul">></button></p>
          <p>Observador<button class="btn btn-azul">></button></p>
        </div>
      </div>
    </div>
    <button class="btn btn-azul2">Agregar usuario</button>
    </div>
    <div *ngIf="seleccion===5" style="padding:0px">
      <h4 style="margin-bottom:30px">Alertas</h4>
      <label style="color:black">Mostrar alertas cuando:</label>
      <div class="row">
        <select style="width:20%;margin-left: 20px;height: 30px">
          <option value="flujoDeCaja">Flujo de caja</option>
          <option value="ingresos">Ingresos</option>
          <option value="egresos">Engresos</option>
        </select>
        <select style="width:20%;margin-left: 20px;height: 30px">
          <option value="flujoDeCaja">Es menor a</option>
          <option value="ingresos">Es mayor a</option>
        </select>
        <input type="text" value="$0" style="width:20% ;margin-left: 20px;height: 30px">
      </div>
      <div class="row" style="margin-top:20px; padding-left:20px">
        <button class="btn btn-azul3" style="margin-right: 20px">Agregar otra</button>
        <button class="btn btn-blanco">Eliminar</button>
      </div>
  </div>
  <div *ngIf="seleccion===6" style="padding:0px">
      <h4 style="margin-bottom:30px; width:30%">Configuración</h4>
    <div style="padding-bottom:30px">
      <label style="color:black; width:30%">Moneda:</label>
    <select style="width:50%;margin-left: 20px;height: 30px">
      <option value="flujoDeCaja">COP (Peso Colombiano)</option>
      <option value="flujoDeCaja">USD (Dólar Americano)</option>
    </select></div>
    <div style="padding-bottom:30px">
    <label style="color:black; width:30%">Idioma:</label>
    <select style="width:50%;margin-left: 20px;height: 30px">
      <option value="flujoDeCaja">Español</option>
      <option value="flujoDeCaja">Inglés</option>
    </select><br></div>
    <div style="padding-bottom:30px">
    <label style="color:black; width:30%">Comiezo de semana:</label>
    <select style="width:50%;margin-left: 20px;height: 30px">
      <option value="flujoDeCaja">Domingo</option>
      <option value="flujoDeCaja">Lunes</option>
    </select><br></div>
    <div style="padding-bottom:30px">
        <label style="color:black; width:30%">Categoría de indicadores:</label>
        <select style="width:50%;margin-left: 20px;height: 30px">
          <option >Ingresos</option>
          <option >Recurrentes</option>
          <option >Ventas</option>
          <option value="dashboard/agregar-categoria" style="color:blue">Agregar categoria</option>
        </select><br></div>
    <div style="padding-bottom:30px">
    <label style="color:black; width:30%">Escenarios:</label>
    <select style="width:50%;margin-left: 20px;height: 30px">
      <option value="flujoDeCaja">Base</option>
      <option value="flujoDeCaja">Arriendo Chicó</option>
    </select><br></div></div>
  </div>
      <form [formGroup]="editarPerfilForm" (ngSubmit)="verificacionPerfil()">
<!--Formulario editar perfil-->
       <div *ngIf="seleccion===2" style="padding:0px">
      <label for="nombreNegocio" style="color:black">Nombre del negocio:</label>
      <div class="form-group">
        <input 
          type="text" 
          id="nombreNegocio" 
          formControlName="nombreNegocio" 
          class="form-control"
          value="Subway Mazurén" >
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label for="categoriaNegocio" style="color:black">Categoría del negocio:</label>
          <div class="form-group">
            <select id="categoriaNegocio" class="form-control">
              <option value="categoria1">Alimentos y bebidas</option>
              <option value="categoria2">Categoría 2</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
            <label for="subCategoriaNegocio" style="color:black">Subcategoría del negocio:</label>
            <div class="form-group">
              <select id="subCategoriaNegocio" class="form-control">
                <option value="subCategoria1">Comidas rápidas</option>
                <option value="subCategoria2">Subcategoría 2</option>
              </select>
            </div>
        </div>
      </div>
      <label for="telefono" style="color:black">Teléfono:</label>
      <div class="form-group">
        <input 
          type="text" 
          id="telefono" 
          formControlName="telefono" 
          class="form-control"
          value="(305)-403-4932">
      </div>
      <label for="email" style="color:black">Correo electrónico:</label>
      <div class="form-group">
        <input 
          type="email" 
          id="email" 
          formControlName="email" 
          class="form-control"
          value="jorgitoempanadas@gmail.com">
      </div>
      <div class="form-group">
        <label for="pais" style="color:black">Pais:</label>
        <div class="form-group">
          <select id="pais" class="form-control">
            <option value="colombia">Colombia</option>
            <option value="peru">Perú</option>
          </select>
        </div>
      </div>
    </div>
<!--Formulario cambiar contraseña-->
    <div *ngIf="seleccion===3" style="padding:0px">
      <label for="contrasenaActual" style="color:black">Contraseña actual:</label>
      <div class="form-group">
        <input 
          type="password" 
          id="contrasenaActual" 
          formControlName="contrasenaActual" 
          class="form-control">
      </div>
      <label for="contrasenaNueva" style="color:black">Contraseña nueva:</label>
      <div class="form-group">
        <input 
          type="password" 
          id="contrasenaNueva" 
          formControlName="contrasenaNueva" 
          class="form-control">
      </div>
      <label for="confirmarContrasena" style="color:black">Confirmar contraseña:</label>
      <div class="form-group">
        <input 
          type="password" 
          id="confirmarContrasena" 
          formControlName="confirmarContrasena" 
          class="form-control">
      </div>
    </div>
  </form>
</div>
</div>
</div>