<div class="col-md-12" style="margin-bottom: 31px;text-align: center; size: 73px; font:calibri;font-size: 24px; font-weight:bold; color:black;background-color: #EFEFEF">Agregar escenario</div>
<div class="col-md-12" style="height:100%;background-color: white">
    <div class="col-md-8" style="margin-left: 17%;font:calibri; font-size: 15px;color:black">Los escenarios son aquellas ocasiones en las que las empresas se preguntarían “y qué pasaría si…” Agrega un nuevo escenario y observa cómo se comporta el flujo de caja de este negocio.
        <div class="col-md-8" style="margin-top:60px">
            <table style="border-width: 10px;border-color:black">
                <td style="height:71px; margin-bottom:31px"> 
                    <label for="nombre">Nombre:</label>
                    <input id="nombre" class="form-group" style="width:300px;margin-right:18px; height:41px">
                </td>
                <td style="height:71px;margin-bottom:31px">
                    <label for="monto">Monto:</label>
                    <input id="monto" class="form-group" style="width:300px;margin-right:18px;height:41px">
                </td>
                <tr> 
                    <td style="height:71px;margin-bottom:31px">
                        <label for="tipo">Tipo</label>
                        <select id="tipo" style="width:300px;margin-right:18px;height:41px">
                            <option value="Ingreso">Ingreso</option>
                            <option value="Egreso">Egreso</option>
                        </select>
                        </td>
                    <td style="height:71px;margin-bottom:31px">
                        <label for="estado">Estado</label>
                        <select id="estado" style="width:300px;margin-right:18px;height:41px">
                            <option value="activo">Activo</option>
                            <option value="inactivo">Inactivo</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="height:71px;margin-bottom:31px">
                        <label for="recurrencia">Recurrencia</label>
                        <select id="recurrencia" style="width:194%;height:41px">
                            <option value="mensual">Mensual</option>
                            <option value="anual">Anual</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="height:71px;margin-bottom:31px">
                        <label for="inicioRecurrencia">Inicio de recurrencia</label>
                        <input id="inicioRecurrencia" type="date" style="width:300px;margin-right:18px;height:41px">
                    </td>
                    <td style="height:71px;margin-bottom:31px">
                        <label for="finRecurrencia">Fin de recurrencia</label>
                        <input id="finRecurrencia" type="date" style="width:300px;margin-right:18px;height:41px">
                    </td>
                </tr>
            </table>
            <label for="colorEscenario">Color del escenario</label>
            <div class="form-group">
                    <button class="btn btn-azul">Agregar escenario</button>
            </div>
        </div>
    </div>    
</div>