<nb-layout>
        <nb-layout-column>
            <div class="col-md-12"
                style="margin-bottom: 31px;text-align: center; size: 73px; font:calibri;font-size: 24px; font-weight:bold; color:black;background-color: #EFEFEF">
                Agregar escenario</div>
            <div class="col-md-10" style="font-size: 15px;color:black; margin: 0 auto">
                <div class="card" style="padding: 15px">
                    <p>
                        Los escenarios son aquellas ocasiones en las que las empresas se preguntarían “y qué pasaría si…”
                        Agrega
                        un nuevo escenario y observa cómo se comporta el flujo de caja de este negocio.
                    </p>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="nombre">Nombre:</label>
                                <input id="nombre" class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <label for="monto">Monto:</label>
                                <input id="monto" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="tipo">Tipo</label>
                                <select id="tipo" class="form-control">
                                    <option value="Ingreso">Ingreso</option>
                                    <option value="Egreso">Egreso</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="estado">Estado</label>
                                <select id="estado" class="form-control">
                                    <option value="activo">Activo</option>
                                    <option value="inactivo">Inactivo</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="recurrencia">Recurrencia</label>
                                <select id="recurrencia" class="form-control">
                                    <option value="mensual">Mensual</option>
                                    <option value="anual">Anual</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="inicioRecurrencia">Inicio de recurrencia</label>
                                <input id="inicioRecurrencia" type="date" class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <label for="finRecurrencia">Fin de recurrencia</label>
                                <input id="finRecurrencia" type="date" class="form-control">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-sm-12">
                                <label for="colorEscenario">Color del escenario</label>
                                <div class="row">
                                    <div class="col-sm-1">
                                        <div class="color color__1"></div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="color color__2"></div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="color color__3"></div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="color color__4"></div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="color color__5"></div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="color color__6"></div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="color color__1"></div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="color color__2"></div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="color color__3"></div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="color color__4"></div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="color color__5"></div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="color color__6"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-azul" (click)="goToFlujo()">Agregar escenario</button>
                        </div>
                    </div>
                </div>
            </div>
        </nb-layout-column>
    </nb-layout>