<nb-layout>
    <nb-layout-column>
<div class="container" style="margin-top: 10%">
  <div class="row">
    <div class="col-md-8" style="margin: 0px auto;">
      <form [formGroup] = "signupForm" (ngSubmit)="verificacion()">
        <nb-card>
          <nb-card-body style="padding: 65px;">
            <div class="row" style="margin-bottom: 20px;margin-left: 8%">
              <div class="col-sm-5" style="margin: 0 auto">
                <img src="/assets/img/logo.png" class="img-fluid" style="height: 40px;"/>
              </div>
            </div>
            <div *ngIf="!etapa1" class="row">
              <div class="titulo" style="margin-bottom: 40px; margin-top: 20px">Información básica</div>
            </div>
        <div *ngIf="!etapa1" id="negocio-data">
          <div class="form-group">
            <input 
              type="text" 
              id="nombreEmpresa" 
              formControlName="nombreEmpresa"
              placeholder="Nombre empresa" 
              class="form-control" >
          </div>
          <div class="row">
            <div class="col-sm-6">
          <div class="form-group">
            <input 
              type="text" 
              id="contactoNombre" 
              formControlName="contactoNombre"
              placeholder="Nombre contacto" 
              class="form-control">
          </div></div>
        <div class="col-sm-6">
          <div class="form-group">
            <input 
              type="number"
              id="contactoTelefono" 
              formControlName="contactoTelefono"
              placeholder="Telefono contacto" 
              class="form-control">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-sm-6">

            <div class="form-group">
              <input 
                type="email"
                id="contactoEmail" 
                formControlName="contactoEmail"
                placeholder="Email contacto" 
                class="form-control">
            </div>
          </div>
          <div class="col-sm-6">

            <div class="form-group">
              <input 
                type="text"
                id="contactoCargo" 
                formControlName="contactoCargo"
                placeholder="Cargo contacto" 
                class="form-control">
            </div>
          </div>
        </div>
          <div class="form-group">
            <input 
              type="text"
              id="descripcion" 
              formControlName="descripcion"
              placeholder="Descripcion empresa" 
              class="form-control">
          </div>
          <div class="row">
            <div class="col-sm-6">
            <div class="form-group">
              <select
                [(ngModel)]="categoriaSeleccionada.id"
                (change)="onSelect($event.target.value)"
                id="categoriaNegocio" 
                formControlName="categoriaNegocio" 
                placeholder="Categoría del negocio"
                class="form-control">
                <option *ngFor="let categoria of categorias" value= {{categoria.id}}>{{categoria.name}}</option>
              </select>
            </div></div>
            <div class="col-sm-6">
            <div class="form-group">
                <select
                  id="subCategoriaNegocio" 
                  formControlName="subCategoriaNegocio" 
                  placeholder="Subcategoría del negocio"
                  class="form-control">
                  <option *ngFor="let subCategoria of subCategorias" value= {{subCategoria.id}}>{{subCategoria.name}}</option>
                </select>
              </div>
          </div></div>
          <div style=margin-bottom:15px>
            <label>Logo de la empresa:</label><br>
            <input type="file" ng2FileSelect [uploader]="uploader" accept="image/*;capture=camera">
            <!-- <button class="btn btn-success" (click)="upload()">Subir imagen</button> -->
          </div>
          <div class="form-group">
            <button class="btn btn-azul">Continuar</button>
          </div> 
        </div>
        <div *ngIf="etapa1 && !etapa2" class="row">
            <div class="titulo" style="margin-bottom: 40px">Información usuario</div>
          </div>
        <div *ngIf="etapa1 && !etapa2" id="usuario-data">
          <div class="row">
            <div class="col-sm-6">

              <div class="form-group">
                <input 
                  type="text" 
                  id="nombreUsuario" 
                  formControlName="nombreUsuario"
                  placeholder="Nombre usuario" 
                  class="form-control" >
              </div>
            </div>
            <div class="col-sm-6">

              <div class="form-group">
                <input 
                  type="text" 
                  id="apellido" 
                  formControlName="apellido"
                  placeholder="Apellido usuario" 
                  class="form-control"
                >
              </div>
            </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
      
                    <div class="form-group">
                      <input 
                        type="number" 
                        id="telefono" 
                        formControlName="telefono"
                        placeholder="Telefono usuario" 
                        class="form-control" >
                    </div>
                  </div>
                  <div class="col-sm-6">
      
                    <div class="form-group">
                      <input 
                        type="email" 
                        id="emailUsario" 
                        formControlName="emailUsuario"
                        placeholder="Email usuario" 
                        class="form-control"
                      >
                    </div>
                  </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
            
                          <div class="form-group">
                            <input 
                              type="password" 
                              id="contrasena1" 
                              formControlName="contrasena1"
                              placeholder="Contraseña" 
                              class="form-control" >
                          </div>
                        </div>
                        <div class="col-sm-6">
            
                          <div class="form-group">
                            <input 
                              type="password" 
                              id="contrasena2" 
                              formControlName="contrasena2"
                              placeholder="Confirmar contraseña" 
                              class="form-control"
                            >
                          </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
        
                      <div class="form-group">
                        <input 
                          type="text" 
                          id="cargo" 
                          formControlName="cargo"
                          placeholder="Cargo empresa" 
                          class="form-control" >
                      </div>
                    </div>
                    <div class="col-sm-6">
        
                        <div class="form-group">
                            <select
                              id="tipo" 
                              formControlName="tipo" 
                              placeholder="Tipo de usuario"
                              class="form-control">
                              <option value="administrador">Administrador</option>
                              <option value="gerenteFinanciero">Gerente financiero</option>
                              <option value="cliente">Cliente</option>
                            </select>
                          </div>
                    </div>
            </div>
          
          <!--   <div class="form-group">
                <input 
                  type="file" 
                  id="logoNegocio" 
                  formControlName="logoNegocio"
                  placeholder="Adjunta el logo del negocio" 
                  class="form-control"
                >
              </div> -->
          <div class="form-group">
            <button class="btn btn-azul">Registrar negocio</button>
          </div>
        </div>
        <div *ngIf="etapa1 && etapa2 && !etapa3" class="col-md-12">
            <div class="texto-centrado" style="margin-bottom: 50px">Parece que has olvidado tu contraseña. Ingresa el email que tienes resgitrado y te ayudaremos a reestablecerla.</div>
          </div>
      <div *ngIf="etapa1 && etapa2 && !etapa3" id="user-recover">
        <div class="form-group">
          <input 
            type="email" 
            id="email2" 
            formControlName="email2"
            placeholder="Correo electrónico" 
            class="form-control" >
        <div class="form-group">
          <button class="btn btn-azul" style="margin-top: 20px">Enviar instrucciones</button>
        </div> 
      </div>
    </div>
    <div *ngIf="etapa1 && etapa2 && etapa3" class="row">
        <div class="titulo" style="margin-bottom: 50px; margin-left: 30%">¡Email enviado con éxito!</div>
        <div class="texto-centrado" style="margin: 0 auto">Revisa tu bandeja de entrada o SPAM para recibir las instrucciones de cómo reestablecer la contrasena</div>
    </div>
    <div *ngIf="etapa1 && etapa2 && etapa3" id="user-recover2">
        <div class="form-group">
          <button class="btn btn-azul" style="margin-top: 58px">Iniciar sesión</button> 
      </div>
    </div>
      </nb-card-body>
    </nb-card>
      </form>
    </div>
  </div>
</div>
</nb-layout-column>
</nb-layout>