.btn-azul{
    background-color: #3D98DE;
    color: white;
    width: 100%;   
}
.titulo{
    color: black;
    text-align: center;
    font-family: 'calibri';
    font-weight: bold;
    font-size: 24px; 
    width:100%
}
.texto-centrado{
    color: black;
    text-align: center;
    font-family: 'calibri';
    font-size: 14px; 
}