.btn-azul{
    background-color: #3D98DE;
    color: white;
    width: 100%;
    font-size: 9px;
    padding: 10px!important;
    
}
.btn-blanco{
    background-color: white;
    color: black;
    width: 100%;
    font-size: 9px;
    padding: 10px;
}
.titulo{
    font-size: 12px;
}
.verde{
    color: #5BCE60;
}
.rojo{
    color: #E3633D;
}
.pequenho{
    font-size: 9px;
}