<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-9">
      <div class="row">
          <div class="col-sm-3">
            <div (click)="myFunction()" class="dropdown">
              <button class="dropbtn" >PERIODO</button>
              <div id="myDropdown" class="dropdown-content">
                <p style="margin:0; cursor:pointer" (click)="agrupar=1;calculoIndicadores();actualizarGraficos()">Mes</p><br>
                <!-- <p style="margin:0; cursor:pointer" (click)="agrupar=3;calculoIndicadores();actualizarGraficos()">Trimestre</p><br> -->
                <p style="margin:0; cursor:pointer" (click)="agrupar=12;calculoIndicadores();actualizarGraficos()">Año</p><br>
              </div>
            </div></div>
          <div class="col-sm-3">
              <button class="btn btn-blanco" (click)="calendario=!calendario"
            style="font-weight: bold; cursor:pointer">{{rango}}</button>
            </div>
            <div class="col-sm-3">
              <button class="btn btn-azul" (click)="goToDatos()" style="cursor:pointer">Ver Datos</button>
            </div>
        <div class="col-sm-3">
          <button class="btn btn-azul" (click)="goToImportarEEFF()">Importar datos</button>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
              <nb-calendar-range *ngIf="calendario" [range]="range" [showHeader]="false" (rangeChange)="getRangeDate($event)"
              style="position: absolute;z-index:100;size:100px" size="medium"></nb-calendar-range>
          </div> 
      </div>
      
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="row">
          <div class="col-sm-12" style="margin: 0 auto; text-align: center">
            <span class="titulo">Liquidez</span>
          </div>
        </div>
        <h3 style="margin: 0 auto; font-weight: normal">{{liquidez | number:'1.1-2'}}</h3>
        <div class="col-sm-12" style="margin: 0 auto; text-align:center">
          <span [ngStyle]="{color: variacionLiquidez >= 0? '#5BCE60':'#E3633D'}">{{variacionLiquidez | percent}}</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="row">
          <div class="col-sm-12" style="margin: 0 auto; text-align:center">
            <span class="titulo">Rentabilidad</span>
          </div>
        </div>
        <h3 style="margin: 0 auto; font-weight: normal">{{rentabilidad | percent:'1.1-2'}}</h3>
        <div class="col-sm-12" style="margin: 0 auto; text-align:center">
          <span [ngStyle]="{color: variacionRentabilidad >= 0? '#5BCE60':'#E3633D'}">{{variacionRentabilidad | percent}}</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="row">
          <div class="col-sm-12" style="margin: 0 auto; text-align:center">
            <span class="titulo">Endeudamiento</span>
          </div>
        </div>
        <h3 style="margin: 0 auto; font-weight: normal">{{endeudamiento | percent:'1.1-2'}}</h3>
        <div class="col-sm-12" style="margin: 0 auto; text-align:center">
          <span [ngStyle]="{color: variacionEndeudamiento >= 0? '#5BCE60':'#E3633D'}">{{variacionEndeudamiento | percent}}</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="row">
          <div class="col-sm-12" style="margin: 0 auto; text-align:center">
            <span class="titulo">Sistema Dupont</span>
          </div>
        </div>
        <h3 style="margin: 0 auto; font-weight: normal">{{sistemaDupont | percent:'1.1-2'}}</h3>
        <div class="col-sm-12" style="margin: 0 auto; text-align:center">
          <span [ngStyle]="{color: variacionSistemaDupont >= 0? '#5BCE60':'#E3633D'}">{{variacionSistemaDupont | percent}}</span>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <nb-card [nbSpinner]="spinerGrafica" nbSpinnerStatus="success" nbSpinnerMessage="Cargando">
        <nb-card-header style="padding: 10px 0px 0px 25px ;">
          <p>Razón corriente y prueba ácida</p>
        </nb-card-header>
        <nb-card-body>
          <canvas #grafico5 style="width: 100%; height: 300px;"></canvas>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm-6">
      <nb-card [nbSpinner]="spinerGrafica" nbSpinnerStatus="success" nbSpinnerMessage="Cargando">
        <nb-card-header style="padding: 10px 0px 0px 25px ;">
          <p>Capital de trabajo</p>
        </nb-card-header>
        <nb-card-body>
          <canvas #grafico6 style="width: 100%; height: 300px;"></canvas>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <nb-card [nbSpinner]="spinerGrafica" nbSpinnerStatus="success" nbSpinnerMessage="Cargando">
        <nb-card-header style="padding: 10px 0px 0px 25px ;">
          <p>Rotaciones (días)</p>
        </nb-card-header>
        <nb-card-body>
          <canvas #grafico7 style="width: 100%; height: 300px;"></canvas>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm-6">
      <nb-card [nbSpinner]="spinerGrafica" nbSpinnerStatus="success" nbSpinnerMessage="Cargando">
        <nb-card-header style="padding: 10px 0px 0px 25px ;">
          <p>Rotación de activos (días)</p>
        </nb-card-header>
        <nb-card-body>
          <canvas #grafico8 style="width: 100%; height: 300px;"></canvas>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <nb-card [nbSpinner]="spinerGrafica" nbSpinnerStatus="success" nbSpinnerMessage="Cargando">
        <nb-card-header style="padding: 10px 0px 0px 25px ;">
          <p>Márgenes de rentabilidad</p>
        </nb-card-header>
        <nb-card-body>
          <canvas #grafico9 style="width: 100%; height: 300px;"></canvas>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm-6">
      <nb-card [nbSpinner]="spinerGrafica" nbSpinnerStatus="success" nbSpinnerMessage="Cargando">
        <nb-card-header style="padding: 10px 0px 0px 25px ;">
          <p>ROA y ROE</p>
        </nb-card-header>
        <nb-card-body>
          <canvas #grafico10 style="width: 100%; height: 300px;"></canvas>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <nb-card [nbSpinner]="spinerGrafica" nbSpinnerStatus="success" nbSpinnerMessage="Cargando">
        <nb-card-header style="padding: 10px 0px 0px 25px ;">
          <p>Endeudamiento</p>
        </nb-card-header>
        <nb-card-body>
          <canvas #grafico11 style="width: 100%; height: 300px;"></canvas>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm-6">
      <nb-card [nbSpinner]="spinerGrafica" nbSpinnerStatus="success" nbSpinnerMessage="Cargando">
        <nb-card-header style="padding: 10px 0px 0px 25px ;">
          <p>Sistema Dupont</p>
        </nb-card-header>
        <nb-card-body>
          <canvas #grafico12 style="width: 100%; height: 300px;"></canvas>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>