<nb-layout>
    <nb-layout-column>
        <div class="col-md-12"
            style="margin-bottom: 31px;text-align: center; size: 73px; font:calibri;font-size: 24px; font-weight:bold; color:black;background-color: #EFEFEF">
            Agregar ingreso o egreso</div>
        <div class="col-md-10" style="font-size: 15px;color:black; margin: 0 auto">
            <div class="card" style="padding: 15px">
                <p>                </p>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="nombre">Nombre:</label>
                            <input id="nombre" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <label for="monto">Monto:</label>
                            <input id="monto" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="tipo">Tipo</label>
                            <select id="tipo" class="form-control">
                                <option value="Ingreso">Ingreso</option>
                                <option value="Egreso">Egreso</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label for="categoria">Categoría</label>
                            <select id="categoria" class="form-control">
                                <option value="Categorai1">Categoría 1</option>
                                <option value="Categoria2">Categoría 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="recurrencia">Recurrencia</label>
                            <select id="recurrencia" class="form-control">
                                <option value="mensual">Diaria</option>
                                <option value="anual">Semanal</option>
                                <option value="anual">Quincenal</option>
                                <option value="anual">Mensual</option>
                                <option value="anual">Semestral</option>
                                <option value="anual">Anual</option>
                                <option value="anual">No se repite</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="inicioRecurrencia">Inicio de recurrencia</label>
                            <input id="inicioRecurrencia" type="date" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <label for="finRecurrencia">Fin de recurrencia</label>
                            <input id="finRecurrencia" type="date" class="form-control">
                        </div>
                    </div>
                    <div class="form-group" style="padding-top: 20px; text-align: center">
                        <button class="btn btn-azul" (click)="goToFlujo()">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>
