<nb-layout>
    <nb-layout-column>
        <div class="col-md-12"
            style="margin-bottom: 31px;text-align: center; size: 73px; font:calibri;font-size: 24px; font-weight:bold; color:black;background-color: #EFEFEF">
            Agregar movimiento</div>
        <form [formGroup] = "formAgregarMovimiento" (ngSubmit)="verificacion()">
        <div class="col-md-10" style="font-size: 15px;color:black; margin: 0 auto">
            <div class="card" style="padding: 15px">
                <p></p>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-12">
                        <div class="form-group">
                            <label for="descripcion">Descripción:</label>
                            <input type="text" id="descripcion" formControlName="descripcion" class="form-control">
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="movimiento">Movimiento:</label>
                                <select (change)="onSelect3($event.target.value)" id="movimiento" formControlName="movimiento" class="form-control">
                                    <option value="Ingreso">Ingreso</option>
                                    <option value="Egreso">Egreso</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="monto">Monto:</label>
                                <input type="number" id="monto" formControlName="monto" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tipo">Tipo</label>
                                <select (change)="onSelect($event.target.value)" id="tipo" formControlName="tipo" class="form-control">
                                    <option value="Real">Real</option>
                                    <option value="Presupuesto">Presupuesto</option>                                    
                                    <option value="Escenario">Escenario</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class=form-group>
                                <label for="categoria">Categoría</label>
                                <select id="categoria" formControlName="categoria" class="form-control" (change)="onSelect2($event.target.value)">
                                    <option *ngFor="let categorias of subCategorias; let i = index" value="{{subCategorias[i]}}">{{subCategorias[i]}}</option>
                                    <option value="Otra">Otra</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="nuevaCategoria===true">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="nuevaCategoria">Nombre nueva categoría</label>
                                <input id="nuevaCategoria" formControlName="nuevaCategoria" class="form-control">
                            </div>  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="metodoPago">Método de pago</label>
                                <select id="metodoPago" formControlName="metodoPago" class="form-control">
                                    <option value="Efectivo">Efectivo</option>
                                    <option value="Transaccion">Transacción</option>
                                </select>
                            </div>  
                        </div>
                        <!-- <div class="col-sm-6">
                            <div class="form-group">
                                <label for="recurrencia">Recurrencia</label>
                                <select id="recurrencia" formControlName="recurrencia" class="form-control">
                                    <option value="mensual">Diaria</option>
                                    <option value="anual">Semanal</option>
                                    <option value="anual">Mensual</option>
                                    <option value="anual">Anual</option>
                                    <option value="anual">No se repite</option>
                                </select>
                            </div>  
                        </div> -->
                    </div>
                    <div class="row">
                        <!-- <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inicioRecurrencia">Inicio de recurrencia</label>
                                <input id="inicioRecurrencia" type="date" formControlName="inicioRecurrencia" class="form-control">
                            </div>
                        </div> -->
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="finRecurrencia">Fecha</label>
                                <input id="finRecurrencia" type="date" formControlName="finRecurrencia" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="verificar">No se pudo agregar el movimiento, revise los valores ingresados</div>
                    <div class="form-group" style="padding-top: 20px; text-align: center">
                        <button class="btn btn-azul">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </nb-layout-column>
</nb-layout>
